#img-div{
    text-align: center;
    margin: 0 auto;
}

#title2-tribute, #tribute-info{
    text-align: center;
}

body:not(.is-touch) .projects article:hover > .image::before{
    opacity: 0.5;
}

#projects .image{
    box-shadow: 3px 3px 10px #585858;
}
#projects h2, #projects .content p{
    text-shadow: 2px 2px 2px #585858;
}

#textarea{
    width: 50%;
}

/*----POPUP----*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
}
.popup h2 {
    margin-top: 0;
    text-align: center;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: none;
}
.popup .close:hover {
    color: #7ecaf6;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 736px){
    .popup{
        width: 70%;
    }
}

/*----FOOTER----*/
#footer{
    text-align: center;
}
#footer .inner>section{
    flex: auto;
}